/*----------------------------------------------------------------------------------------------
 * File: TVPVRD.CSS
 * Desc: CSS Style to format rudimentary WEB-interface for tvpvrd 
 *       daemon.
 * SVN:  $Id: tvpvrd.css 587 2012-02-29 19:55:16Z johan162 $
 *----------------------------------------------------------------------------------------------
 */

/* Make it 9926545166314 avoid scroll bars on the main page */
body {
    height:99%;
    width: 720px;
    margin-left:auto;
    margin-right:auto;
}

/* The overall main page is contained in this div */
div.top_page {
    border: 1px solid gray;
    /* background: #e1e6db; */
    /*background: url("al.png");*/
    background-image:url("al.png");
    background-size:cover;
   /* background-size:cover;*/
    height:645px;
    width:99%;
    padding:0px;
    border: solid gray 2px;
    -moz-box-shadow: 5px  5px  10px  #999; 
    box-shadow: 5px  5px  10px  #999;     
}

/* The top banner line with name and version */
div.top_banner {
    float:none;
    /*background: #a7b797;*/
    /*background-image:url("ap.jpeg");*/
    border-bottom: solid 1px white;
    margin-bottom: 4px;
    padding: 3px;
    padding-bottom: 8px;

    background-image: -moz-linear-gradient(bottom, rgb(5,5,1) 1%, rgb(87,87,87) 51%);
    background-image: -webkit-linear-gradient(bottom, rgb(5,5,1) 1%, rgb(87,87,87) 51%);
    color:#ddd;

    font-family:arial, helvetica, sans-serif;
    font-size:12pt;
}

div.top_banner_info_container {
    float:left;
    text-align:left;
    font-weight:bold;
    font-size:14pt;  
}

div.top_banner_info_container span.title-ver {
    color: white;
}

div.top_banner_info_container span.run-mode { 
    font-size:10pt; 
}

div.buildnbr_container {
    clear:both;
    width:100%;
}

div.buildnbr_container div.build {
    font-size:10pt;
    font-style:italic;
    color:#666;
    text-align:right;
}

div.logout-corner {    
    color:red;
  /*  content: url("logout-button.jpg");*/
    margin-left:655px;
    margin-top: 5px;
}

/* Left side with all commands */
div.left_side {
    float: left;
    width:130px;
    height:93%;
    margin-right : 2px;
   /* border-right : 2px ridge #999;*/
}

/* Container around command output area */
div.right_side {
    float: left;
    width:550px;
    height:94%;
    margin-left:12px;
}

/* This div encloses the command menu */
div.cmd_menu {
    float: left; 
    width : 99%;
    height : 90%; /* Leave some room for the logout button */
    margin-left : 5px;
    color:black;
    font-size:12pt;
}

/* The preformatted output i the output window */
pre {
	margin:0;
}

pre a:hover {
    color:white;
}

pre a {
    color:#0ef;
}

/* This div encloses the command output */
div.cmd_output {
    clear:right;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 3px;
    padding-left: 10px;
    margin-left:0;
    margin-right:1px;
    margin-bottom:0;
    margin-top: 0;
    font-weight:bold;
    border:solid gray 1px;
    /*background:black;*/
   /* background-image:url("gl.png");*/
    background-image:url("lg02.jpg");
    background-size:cover;
    color:#ddd;
    /*color: #0ef;*/
    height:25%;
    width:99%;
    overflow:auto;
}

/* Container around the command input area */
div.cmd_add_container
div.cmd_del_container {
    width:100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
}

/* To get rid of anchor underlines in comamnd menu */
div.cmd_menu a {
    text-decoration:none;
    color:black;
}

/* To highlight the current selected command */
div.cmd_menu a:hover {
    text-decoration:underline;
    color:darkred;
}

/* Encloses the command menu group title line */
div.cmdgrp_title_row {
    font-family:Arial, Sans-serif;
    color : navy;
    margin-top:10px;
    margin-bottom:2px;
}

/* Encloses the command menu group title short name */
span.cmdgrp_title {
    font-weight: bold;
}

/* Encloses the command menu group description */
span.cmdgrp_desc {
    font-style:italic;

}

/* Encloses all commands in one menu group */
div.cmdgrp_commands {
    padding-left:10px;
}

/* Legend for the fieldset */
legend {
    font-family:Arial, Sans-erif;
    font-weight:bold;
    font-variant:small-caps;
    font-size:13pt;
    padding-left:2px;
    padding-right:4px;
/*    background: #e1e6db;
    color:#333;*/    
    color:#611;
}

/* Fieldset for add/del command */
fieldset {
   border: 2px ridge #999;
   margin-top:4px;
   margin-right:0px;
   margin-left:0px;
   padding:0;
   padding-left:3px;
   padding-bottom:6px;
}

/* Container around each input and input text-legend */
div.input_container {
    float:left;
    padding:1px;
    margin-top:1px;
    margin-right:0px;
    margin-left:0px;
}

/* The legend text for each input field */
div.input_legend {
    font-family:Arial, Sans-erif;
    font-weight:bold;
    font-size:9pt;
    color:#505050;
    margin:0;
}

/*
 * All select input formats are used in the add/delete fieldset when adding and deleteing
 * records.
 */

select {
    border: solid gray 1px;
    background: white;
}

input {
    border: solid gray 1px;
    background: white;
    font-family:Arial, Sans-serif;
    font-weight:bold;
}

div.input_select select {
}

/* Delete series y/n selector */
select.input_select#id_seriesyn {
    width:70px;
}

/* Repeat count selector */
select.input_select#id_rptcount {
    width:50px;
}

/* Used for all select with a code table */
select.input_select_code {
    font-family:Arial, Sans-serif;
    color:#202020;
}

/* Format for selector with list of recodings to delete */
select.input_select_code#id_delselect {
    width : 340px;
}

/* Input text */
input.input_text {
    color : #202020;
    width : 150px;
}

/* Input submit button in forms*/
input.input_submit {
    font-family:Arial, Sans-erif;
    font-weight:bold;
    font-size:10pt;
    width:60px;
    margin-left: 10px;
    
    background-image: -moz-linear-gradient(bottom, rgb(10,10,10) 1%, rgb(127,127,127) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(10,10,10) 1%, rgb(127,127,127) 60%);    
    color:white;    
    
    -moz-box-shadow: 3px  3px  6px  #555; 
    box-shadow: 3px  3px  6px  #555;   
    
    border: solid 1px #333;
}

input.input_submit:hover {
    /*background:#444;
    color:white;*/
    -moz-box-shadow: 0px  0px  0px  #999; 
    box-shadow: 0px  0px  0px  #999;    
    margin-left:13px;
    margin-top:6px;
    margin-bottom:-2px;
}

/* Adjustment for submit buttons */
div.input_container#delrec,
div.input_container#id_addrec,
div.input_container#id_qaddrec
 {
    padding-top:15px;
    float:right;
    margin-right:10px;
}


/*
div.input_container#id_qaddrec {
    float:right;
}
*/
/* text between to and from time */
span.be_hyphen {
    font-weight:bold;
    font-size:14pt;
}
#be_hyphen {
    padding-bottom:0px;
    padding-top:14px;
}

/* The submit button to delete a recording */
input.input_submit#delrec_submit {
   /* color:darkred;*/
   /*color:#F5F527;*/
   color:orange;
}

/* Which input fields shoud start on a new line */
div.input_container#id_start 
{
    clear:left;
}

div.cmd_killrec {

}

div.ongoing_rec_entry,
div.ongoing_transc_entry {
    float:left;
}

div.ongoing_rec_title,
div.ongoing_transc_title {
    padding-top: 1pt;
    float:left;
    font-weight:bold;
    font-family:monospace;
    color:darkred;
    margin-bottom: 4pt;
}

div.ongoing_rec_title_disabled ,
div.ongoing_transc_title_disabled  {
    padding-top: 1pt;
    float:left;
    color: #444;
    font-weight:bold;
    font-family:monospace;
    margin-bottom: 4pt;
}

div.ongoing_rec_stop,
div.ongoing_transc_stop {
    float:left;
    font-weight:bold;
    font-size:10pt;
    font-family: Arial, Sans-serif;
    margin-left: 10pt;
    margin-right: 10pt;
    border: solid black 1px;
    background: orange;
    padding-left: 10px;
    padding-right: 10px;
}

div.ongoing_rec_stop_disabled,
div.ongoing_transc_stop_disabled {
    float:left;
    color: #444;
    font-weight:bold;
    font-family: Arial, Sans-serif;
}

div.ongoing_rec_stop a,
div.ongoing_transc_stop a  {
    text-decoration: none;
    color:black;
}

div.ongoing_rec_stop a:hover,
div.ongoing_transc_stop a:hover {
    color:yellow;
}


div.ongoing_rec_stop_disabled a,
div.ongoing_transc_stop_disabled a {
    text-decoration: none;
    color: #444;;
}

div.next_rec_container {
    margin-bottom:2pt;
    margin-left: 2pt;
    font-weight:bold;
    font-family:monospace;
/*    background: black;
    color: #f7ef61;    
*/
    background-image:url("lg02.jpg");
    /*background-image:url("gl.png");*/
    /*color:#EDE84A;*/
    color:#eee;
    border: solid 1px gray;
    background-size:cover;
    margin-right:0.5em;
    padding-left: 4pt;
    padding-bottom: 2pt;
    padding-top: 2pt;
}

/*
 * The following styles refer to the login box/login page 
*/

/* Container for log-in box */
div.login_container {
    border: solid gray 1px;
    position:relative;
    top:20%;
    bottom:0;
    left:0;
    right:0;
    width:300px;
    background:#b0c1a3;
    padding-top:0px;
    padding-bottom:10px;
    margin:auto;
}

div.login_container  div.input_container {
    float:none;
    margin-left:10px;
}

/* Title of login box */
div.login_title {
    padding:3px;
    color:white;
    background:#546349;
    font-weight:bold;
    font-family:Arial, Sans-serif;
    font-size:12pt;
    color:white;
    margin-bottom:10px;
}

/* Adjustment of password field */
div.input_container#id_loginpwd {
    Margin-top:10px;
    clear:left;
}

div.input_container#id_loginuser div.input_legend,
div.input_container#id_loginpwd div.input_legend
 {
    float:left;
    margin-top:2px;
    width: 8em;
    color:black;
}

/* Submit button for login */
input.input_submit#id_submitlogin {
    width:10em;
}

div.input_container#id_submitlogin {
    float:none;
    margin-top:1em;
    margin-left: 5em;
}


div#logout_container {
    float:left;
    width:99%;
    height: 20px;
}

div#logout {
    border : solid gray 1px;
    padding-bottom: 3px;
    padding-top: 2px;
    width: 70px;
    height: 1.0em;
    background: #eee;
    font-weight:bold;
    margin-top:5px;
    margin-left:15px;
    padding-left:25px;
    padding-right:0px;
    -moz-box-shadow: 3px  3px  5px  #777; 
    box-shadow: 3px  3px  5px  #777;       
    
    background-image: -moz-linear-gradient(bottom, rgb(10,10,10) 1%, rgb(127,127,127) 60%);
    background-image: -webkit-linear-gradient(bottom, rgb(10,10,10) 1%, rgb(127,127,127) 60%);    
       
}

div#logout a {
    text-decoration:none;
    font-weight:bold;
    font-family:Arial,Sans-serif;
    font-size:10pt;
    color:#ddd;
}

div#logout:hover {
    text-decoration:none;
    font-weight:bold;
    font-family:Arial,Sans-serif;
    font-size:10pt;
    margin-top:9px;
    margin-left:19px; 
    padding-bottom:6px;
    -moz-box-shadow: 0px  0px  0px  #999; 
    box-shadow: 0px  0px  0px  #999;
    
}

/*div#logout a:hover {
    color:black;
}*/

/* EOF CSS Style for tvpvrd */
