
/* CSS Style to format rudimentary WEb-interface for 
 * tvpvrd daemon.
 * SVN: $Id$
 */

html,body {
    height:100%;
}

/* The overall main page is contained in this div */
div.top_page {

    border: 1px solid gray;
    background: #f3f0f8;
    height:60%;
    padding:0px;
    overflow:auto;

}

/* This div encloses the command output */
div.cmd_output {
    float: left; 
    clear:right;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left:5px;
    margin-right:5px;
    font-weight:bold;
    border:solid gray 1px;
    background:white;
    min-height:70%;
    min-width:65%;
}

/* This div encloses the command menu */
div.cmd_menu {
    float: left; 
    width : 280px;
    height : 70%;
    margin-left : 5px;
    border-right : 1px solid gray;
    color:black;
    padding:5px;
    font-size:11pt;
}

/* The top banner line with name and version */
div.top_banner {
    text-align:left;
    font-weight:bold;
    font-size:14pt;
    background:lightgreen;
    margin-bottom: 4px;
    padding: 2px;
}

/* To get rid of anchor underlines in comamnd menu */
div.cmd_menu a {
    text-decoration:none;
    color:black;
}

/* To highlight the current selected command */
div.cmd_menu a:hover {
    text-decoration:underline;
    color:navy;
}

/* Encloses the command group title line */
div.cmdgrp_title_row {
    color : navy;
}

/* Encloses the command group title short name */
span.cmdgrp_title {
    font-weight: bold;
}

/* Encloses the command group description */
span.cmdgrp_desc {
    font-style:italic;

}

/* Encloses all commands in one group */
div.cmdgrp_commands {
    padding-left:10px;
}

